#timer {
    position: absolute;
    right: 0%;
    margin-right: 20px;
}

form {
    display: none;
}

li {
    padding: 3px;
    margin-bottom: 5px;
    width: 100%;
    background-color: rgb(70, 20, 70);
    color: white;
}
ol {
    display: none;
}
#divForCenter {
    margin-top: 30px;
    text-align: center;
}
#lister {
    width: 20%;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

#highscoreArea {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}

#infoArea {
    align-content: center;
    display: flex;
    justify-content: center;
}

#info {
    width: 45%;
    margin-bottom: 8px;
}

#questionField {
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 8px;
}

#userScoreField {
    font-size: 18px;
    margin-bottom: 10px;
}

#quizHeading {
    font-size: 27px;
    margin-bottom: 8px;
}

#highScoreHeader {
    margin-bottom: 20px;
}

#highscore {
    margin-bottom: 10px;
}

#answers li:hover {
    background-color: rgb(155, 111, 155);
}

#correctWrongArea {
    color: grey;
    font-size: 20px;
}