#timer {
    position: relative;
    display: flex;
    justify-content :flex-end;
    margin-right: 20px;
}

form {
    display: none;
}

li {
    padding: 3px;
    margin-bottom: 5px;
    width: 100%;
    background-color: rgb(70, 20, 70);
    color: white;
}
ol {
    display: none;
}
#divForCenter {
    margin-top: 30px;
    text-align: center;
}
#lister {
    width: 20%;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

#highscoreArea {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}

#infoArea {
    align-content: center;
    display: flex;
    justify-content: center;
}

#info {
    width: 40%;
}